<a href="https://colab.research.google.com/github/jeongseon08/python-300/blob/main/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 문법을 배웠다고 해서 누구나 프로그래밍에 익숙해지는 것은 아니다. 따라서 프로그래밍에 익숙해지기까지 많은 문제를 풀어보고 익숙해지는 것이 필요하다.

# 01. 파이썬 시작하기
print 함수

**1)** sep(separation): 두 문자열 사이에 들어가는 문자
ex) print('S','E','P',sep='!')
=S!E!P

**2)** end: 그 뒤의 출력값과 이어서 출력(줄바꿈X)
ex) print('hello',end=" ")
    print('world!)
= hello world!

**3)** format: 포매팅을 통해 특정 서식에 따라 문자를 출력 부분적으로 문자열 바꾸어 반복적으로 출력할때 유용

print("{}월{}일 입니다.".format(10,31))
=10월31일 입니다.
**4)** escape: 파이썬 문법을 탈출하여 출력

-\n: 줄바꿈

-\t: 탭

-\b: 백스페이스

-\\: \ 출력

-\': ' 출력

-\": " 출력

01. print 기초

  화면에 **Hello World** 문자열을 출력해라.

In [ ]:
print("Hello World")

2. print 기초

  화면에 **Marry's cosmetics**을 출력해라.

In [ ]:
print("Marry's cosmetics")

Marry's cosmetics

3. print 기초

  화면에 아래 문장을 출력해라.

   **신씨가 소리질렀다. "도둑이야."**

In [ ]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

04. print 기초

  화면에 **"C:\Windows"**를 출력해라.

In [ ]:
print('"C:\Windows"')

"C:\Windows"

05. print탭과 줄바꿈

  다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.

    **print("안녕하세요.\n만나서\t\t반갑습니다.")**

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈, \t: tab간격 띄어쓰기를 의미한다.
#*tab간격: 띄어쓰기 4칸

안녕하세요.
만나서		반갑습니다.

06. print 여러 데이터 출력

  print 함수에 두개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상하시오.

  **priint("today", "sunday")**

In [ ]:
print("today", "sunday")
# 두단어는 하나의 줄에 공백한칸인 형태로 나타날것이다.

today sunday

07. print 기초

  print()함수를 사용하여 다음과 같이 출력하세요.

  **naver kakao sk samsung** 세개의 문자열의 공백을 ;으로 변경하라.

In [ ]:
print("naver","kakao","sk","samsung")
print("naver","kakao","sk","samsung", sep=";")

naver kakao sk samsung
naver;kakao;sk;samsung

08. print 기초

  7번 문제의 구분자를 /로 변경하시오.

In [ ]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

09. print 줄바꿈

  다음 코드를 수정하여 줄바꿈 없이 출력해라. print 함수는 두번 사용합니다. 
  
  *세미클론은 한줄에 여러개의 명령을 작성하기 위해 사용

  print("first");print("second")

In [ ]:
print("first");print("second")
print("first",end=" ");print("second")

first
second
first second

10.연산결과 출력

   5/3의 결과를 화면에 출력하세요

In [ ]:
print(5/3)

1.6666666666666667

#02. 파이썬 변수
변수는 자주 사용되는 값 바인딩

11. 변수 사용하기

  삼성전자라는 변수로 50,000원을 바인딩하고, 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력해라.

In [ ]:
삼성전자=50000
총평가금액=10*삼성전자
print("총 평가금액:",총평가금액)

총 평가금액: 500000

12. 변수 사용하기

  다음표는 삼성전자의 일부 투자정보다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해라



> | 항목     | 값       |   |   |   |
|----------|----------|---|---|---|
| 시가총액 | 298조    |   |   |   |
| 현재가   | 50,000원 |   |   |   |
| PER      | 15.79    |   |   |   |

In [ ]:
시가총액=298e12
print(시가총액,type(시가총액))
현재가=50000
print(현재가,type(현재가))
PER=15.79
print(PER,type(PER))

298000000000000.0 <class 'float'>
50000 <class 'int'>
15.79 <class 'float'>

13. 문자열 출력

  두 변수를 이용하여 아래와 같이 출력하시오.

x="hello" y="python" 출력할 문자열: hello! python

In [ ]:
x="hello"
y="python"
print(x+"!", y)

hello! python

14. 파이썬을 이용한 값 계산

  2+2*3의 코드 실행 결과를 예상하시오.

In [ ]:
print(2+2*3)
#문자열 연산이므로 결과는 8

8

15. type 함수

  아래 변수에 바인딩된 값의 타입을 판별하시오.
  
  a= 132

In [ ]:
a=132
print(type(a))

<class 'int'>

16. 문자열을 정수로 변환

  문자열 '720'를 정수형으로 변환하시오.

In [ ]:
s="720"
a=int(s)
print(type(a))

<class 'int'>

17. 정수를 문자열 100으로 변환

  정수 100을 문자열'100'으로 변환하시오

In [ ]:
num=100
result = str(num)
print(type(result))

<class 'str'>

18. 문자열을 실수로 변환

  문자열 "15.79"를 실수타입으로 변환하라.

In [ ]:
a="15.79"
b=float(a)
print(b,type(b))

15.79 <class 'float'>

19. 문자열을 정수로 변환

  year라는 변수가 문자열 타입의 연도를 바인딩하고 있다, 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력하라.

In [ ]:
year="2020"
year=int(year)
print(type(year))
print(year,year-1,year-2,year-3)

<class 'int'>
2020 2019 2018 2017

20. 파이썬 계산

  에어컨이 월 48,584에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.총 금액은 계산한 후 이를 화면에 출력해라.

In [ ]:
won=48584
print(won*36)

1749024

# 03. 파이썬 문자열

  파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메소드를 제공한다.

21. 문자열 인덱싱

  letters가 바인딩하는 문자열에서 첫번째 와 세번째 문자를 출력하세요.

  letters='python'

In [ ]:
letters='python'
print(letters[0],letters[2])

p t

22. 문자열 슬라이싱

  자동차 번호가 다음과 같을때 뒤에 4자리만 출력하세요.

  license_plate="24가 2210"

In [ ]:
license_plate="24가 2210"
print(license_plate[-4:])

2210

23. 문자열 인덱싱

아래의 문자열에서 '홀'만 출력하세요.
string="홀짝홀짝홀짝"

In [ ]:
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

24. 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

In [ ]:
string="python"
print(string[::-1])

nohtyp

25. 문자열 치환

아래의 전화번호에서 하이푼을 제거하고 출력하시오.

In [ ]:
number="010-4935-4629"
number=number.replace("-"," ")
print(number)

010 4935 4629

26. 문자열 다루기

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [ ]:
number="010-4935-4629"
number=number.replace("-","")
print(number)

01049354629

27. 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

In [ ]:
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split)
print(url_split[-1])
print(url_split[-2])

['http://sharebook', 'kr']
kr
http://sharebook

28. 문자열은 immutable!!=불변값이다!

아래 코드의 실행 결과를 예상해봐라.

lang="python"

lang[0]='P'

print(lang)

In [ ]:
lang="python"
lang[0]='P'
print(lang)
#오류발생함.

TypeError: ignored

29. replace 메소드

아래 문자열에서 소문자'a'를 대문자 'A'로 변경하라.

In [ ]:
string='abcdef2a354aa21d'
string=string.replace("a","A")
print(string)

Abcdef2A354AA21d

30. replace 메소드

아래코드의 실행 결과를 예상해라.
string='abcd'

string.replace('b','B')

print(string)

In [ ]:
string='abcd'
string.replace('b','B')
print(string)
#문자열은 불변하는 자료형이기 때문에, replace메소드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.
string_re=string.replace('b','B')
print(string_re)

abcd
aBcd

31. 문자열 합치기

  아래 코드의 실행 결과를 예상해라.

  a="3"

  b="4"

  print(a+b)

In [ ]:
a='3'
b='4'
print(type(a))
print(a+b)
#a,b의 데이터 타입은 문자열로 a+b는 두개의 문자열을 이어주는 역할이다.

<class 'str'>
34

32. 문자열 곱하기

  아래 코드의 실행결과를 예상해라

  print("Hi"*3)

In [ ]:
print("Hi"*3)
#Hi 문구가 3번반복된다.

HiHiHi

33. 문자열 곱하기

  화면에 '-'를 80개 출력해라.

In [ ]:
print("-"*80)

--------------------------------------------------------------------------------

34. 문자열 곱하기

  변수에 다음과 같은 문자열이 바인되어 있을때, 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해라.

  t1='python'

  t2='java'

  실행 예: python java python java python java python on java

In [ ]:
t1='python'
t2='java'
print((t1+' '+t2+' ')*3+t1+' on'+ t2)

python java python java python java python onjava

35. 문자열 출력

  변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 %formatting을 사용해서 다음과 같이 출력하라.

  name1="김민수"

  age1=10

  name2="이철희"

  age2=13

  출력결과

  이름: 김민수 나이: 10
  
  이름: 이철희 나이: 13

In [ ]:
name1='김민수'
age1=10
name2='이철희'
age2=13
print("이름: %s 나이: %d "%(name1,age1))
print("이름: %s 나이: %d "%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

36. 문자열 출력

문자열의 format()메소드를 사용해서 35번을 다시 풀어라.

In [ ]:
name1='김민수'

age1=10

name2='이철희'

age2=13

print("이름: {} 나이: {} ".format(name1,age1))

print("이름: {} 나이: {} ".format(name2,age2))

이름: 김민수 나이: 10
이름: %s이철희 나이: 13

37. 문자열 출력

  파이썬 3.6부터 지원하는 f-string을 사용하여 35번을 다시 풀어라.

In [ ]:
name1='김민수'
age1=10

name2='이철희'
age2=13

print(f"이름: {name1} 나이: {age1} ")

print(f"이름: {name2} 나이: {age2} ")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

38. 콤마 제거하기

  삼성전자의 상장주식수가 다음과 같다. 컴마를 제거한 후 이를 정수 타입으로 변환해라

  상장주식수="5,969,782,550"

In [ ]:
상장주식수="5,969,782,550"
상장주식수=상장주식수.replace(",","")
상장주식수=int(상장주식수)
print(상장주식수,type(상장주식수))

5969782550 <class 'int'>

39. 문자열 슬라이싱

  다음과 같은 문자열에서 **'2020/03'**만 출력하라.

  분기="2020/03(E) (IFRS연결)"

In [ ]:
분기="2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

40. strip메소드

  문자열의 좌우의 공백이 있을 때 이를 제거해라.
  
  data="           삼성전자       "

In [ ]:
data="    삼성전자    "
print(data)
data1=data.strip()
print(data1)
data1=data.strip(data[:5])
print(data1)

    삼성전자
삼성전자
성전자

41. upper 메소드

  .upper()는 문자열을 대문자로 변환시켜준다.
  
  다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

  ticker="btc_krw"

In [ ]:
ticker="btc_krw"
Ticker=ticker.upper()
print(Ticker)

BTC_KRW

42. lower 메소드
  .lower()는 문자열을 소문자로 변환시켜준다.
  
  다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

  ticker="BTC_KRW"

In [ ]:
ticker="BTC_KRW"
ticker=ticker.lower()
print(ticker)

btc_krw

43. capitalize 메소드

  .capitalize()는 문자열의 첫번째 요소만 대문자로 바꾼다.
  
  문자열'hello'가 있을 때 'Hello'로 변경하세요.

In [ ]:
a='hello'
print(a.capitalize())

Hello

44. endswith메소드

  .endswith()는 문자열이 ()안의 문자열로 끝났으면 True, 그렇지 않다면 False가 된다.
  
  파일 이름이 문자열로 저장되어 있을 때 endswith메소드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해라.

In [ ]:
file="보고서.xlsx"
file=file.endswith("xlsx")
print(file)

True

45. endswith메소드


.endswith()는 문자열이 ()안의 문자열로 끝났으면 True, 그렇지 않다면 False가 된다.

파일 이름이 문자열로 저장되어 있을 때 endswith메소드를 사용해서 파일 이름이 'xls'로 끝나는지 확인해라.

In [ ]:
file="보고서.xlsx"
file=file.endswith("xls")
print(file)

False

46. startswith 메소드

  .startswith()는 문자열의 처음이 ()의 값과 같다면 True, 그렇지 않다면 False가 온다.
  
  파일 이름이 문자열로 저장되어 있을 때 startwith 메소드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해라.

In [ ]:
file="2020_보고서.xlsx"
file=file.startswith("2020")
print(file)

True

47. split 메소드

  .split()는 ()값을 기준으로 문자열을 나눠서 리스트화 시킨다.

  다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠라.

  a="hello world"

In [ ]:
a="hello world"
print(a.split())

['hello', 'world']

48. split메소드

  다음과 같이 문자열이 있을 때 btc와 krw로 나눠라.

  ticker="btc_krw"

In [ ]:
ticker="btc_krw"
print(ticker.split("_"))

['btc', 'krw']

49. split메소드

  다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠라.
  
  date="2020-05-01"

In [ ]:
date="2020-05-01"
print(date.split("-"))

['2020', '05', '01']

50. rstrip 메소드

  strip 3형제

  1) strip([chars]) : 인자로 전달된 문자를 String의 왼쪽과 오른쪽에서 제거합니다.
  
  2) lstrip([chars]) : 인자로 전달된 문자를 String의 왼쪽에서 제거합니다.
  
  3) rstrip([chars]) : 인자로 전달된 문자를 String의 오른쪽에서 제거합니다.

  문자열의 오른쪽에 공백이 있을 때 이를 제거해라.
  
  data ="039404     "

In [ ]:
data="      030904     "
print(data.rstrip())
print(data.lstrip())
print(data.strip())

      030904
030904
030904

# 04. 파이썬 리스트

    파이썬 리스트는 순서가 있고 수정 가능한 자료구조다.


51. 리스트 생성

  2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 리스트에 저장해봐라.(순위 정보는 저장하지 않는다.)


> | 항목 | 값 |
|---|---------|
| 1 | 닥터스트레인지 | 
| 2 | 스플릿|
| 3 | 럭키 |

In [ ]:
movie_rank=["닥터스트레인지","스플릿","럭키"]
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키']

52. 리스트에 원소 추가

  .append()는 원소를 추가해주는 함수다.

  51의 movie_rank리스트에 "배트맨"을 추가해라.

In [ ]:
movie_rank=["닥터스트레인지","스플릿","럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

53. insert메소드

  .insert(인덱스,문자열)을 통해 원하는 위치에 원소를 추가할 수 있다.
  
  movie_rank 리스트에는 아래와 같이 4개의 영화제목이 바인딩되어 있다. "슈퍼맨"을 "닥터스트레인지"와 "스플릿"사이에 추가해라.

  movie_rank=["닥터스트레인지","스플릿","럭키","배트맨"]

In [ ]:
movie_rank=["닥터스트레인지","스플릿","럭키","배트맨"]
print(movie_rank)
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']
['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

54. del 메소드

  del 변수명[인덱스]를 통해 원하는 원소를 삭제할 수 있다.

  movie_rank 리스트에서 '럭키'를 삭제해라.

  movie_rank=["닥터스트레인지","슈퍼맨","스플릿","럭키","배트맨"]

In [ ]:
movie_rank=["닥터스트레인지","슈퍼맨","스플릿","럭키","배트맨"]
del movie_rank[3]
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '배트맨']

55. del 메소드

  movie_rank 리스트에서 '스플릿과 '배트맨'을 삭제해라.

  movie_rank=["닥터스트레인지","슈퍼맨","스플릿","럭키","배트맨"]

In [ ]:
movie_rank=["닥터스트레인지","슈퍼맨","스플릿","배트맨"]
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터스트레인지', '슈퍼맨']

56. 리스트 연산

  lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

  lang1=["C","C++","Java"]

  lang2=["Python","Go","C#"]

In [ ]:
lang1=["C","C++","Java"]
lang2=["Python","Go","C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'Java', 'Python', 'Go', 'C#']

57. 리스트 최댓값, 최솟값

  max(list), min(list) 함수를 통해 최대 최소값을 구할수 있다.

  다음 리스트에서 최댓값과 최솟값을 출력하라.

  nums=[1,2,3,4,5,6,7,10]

In [ ]:

nums=[1,2,3,4,5,6,7,10]
print(max(nums))
print(min(nums))

10
1

58. 리스트 합 sum()

  sum()함수를 통해 리스트의 값들을 합할수 있다.

  다음 리스트의 합을 출력하라.
  nums=[1,2,3,4,5]

In [ ]:
nums=[1,2,3,4,5]
print(sum(nums))

15

59. 리스트 길이 len()
  
  len()을 통해 리스트의 길이(갯수)를 알 수 있다.

  다음 리스트에 저장된 데이터의 개수를 화면에 구하라.

  cook=["피자","김밥","만두","양념치킨","족발"]

In [ ]:
cook=["피자","김밥","만두","양념치킨","족발"]
print(len(cook))

5

60. 리스트 평균

  다음 리스트의 평균을 출력하라.

  nums=[1,2,3,,4,5]

In [ ]:
nums=[1,2,3,4,5]
average=sum(nums)/len(nums)
print(average)

3.0

61. 리스트 슬라이스

  price변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력해라.

  price=["20180728", 100, 130, 140, 150, 160, 170]

In [4]:
  price = ["20180728", 100, 130, 140, 150, 160, 170]
  print(price[1:])

[100, 130, 140, 150, 160, 170]

62. 리스트 슬라이싱

슬라이싱을 사용해서 홀수만 출력하라.

# 05. 파이썬 튜플

#06. 파이썬 딕셔너리

#07. 파이썬 if문

#08. 파이썬 반복문

# 09. 파이썬 함수

#10. 파이썬 모듈

#11. 파이썬 클래스

#12. 파일 입출력과 예외처리