<a href="https://colab.research.google.com/github/jeongseon08/python-300/blob/main/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 기초 문법을 배웠다고 해서 누구나 프로그래밍에 익숙해지는 것은 아니다. 따라서 프로그래밍에 익숙해지기까지 많은 문제를 풀어보고 익숙해지는 것이 필요하다.

# 01. 파이썬 시작하기
print 함수

**1)** sep(separation): 두 문자열 사이에 들어가는 문자
ex) print('S','E','P',sep='!')
=S!E!P

**2)** end: 그 뒤의 출력값과 이어서 출력(줄바꿈X)
ex) print('hello',end=" ")
    print('world!)
= hello world!

**3)** format: 포매팅을 통해 특정 서식에 따라 문자를 출력 부분적으로 문자열 바꾸어 반복적으로 출력할때 유용

print("{}월{}일 입니다.".format(10,31))
=10월31일 입니다.
**4)** escape: 파이썬 문법을 탈출하여 출력

-\n: 줄바꿈

-\t: 탭

-\b: 백스페이스

-\\: \ 출력

-\': ' 출력

-\": " 출력

01. print 기초

  화면에 **Hello World** 문자열을 출력해라.

In [ ]:
print("Hello World")

2. print 기초

  화면에 **Marry's cosmetics**을 출력해라.

In [ ]:
print("Marry's cosmetics")

Marry's cosmetics

3. print 기초

  화면에 아래 문장을 출력해라.

   **신씨가 소리질렀다. "도둑이야."**

In [ ]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

04. print 기초

  화면에 **"C:\Windows"**를 출력해라.

In [ ]:
print('"C:\Windows"')

"C:\Windows"

05. print탭과 줄바꿈

  다음 코드를 실행해보고 \t와 \n의 역할을 설명하라.

    **print("안녕하세요.\n만나서\t\t반갑습니다.")**

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈, \t: tab간격 띄어쓰기를 의미한다.
#*tab간격: 띄어쓰기 4칸

안녕하세요.
만나서		반갑습니다.

06. print 여러 데이터 출력

  print 함수에 두개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상하시오.

  **priint("today", "sunday")**

In [ ]:
print("today", "sunday")
# 두단어는 하나의 줄에 공백한칸인 형태로 나타날것이다.

today sunday

07. print 기초

  print()함수를 사용하여 다음과 같이 출력하세요.

  **naver kakao sk samsung** 세개의 문자열의 공백을 ;으로 변경하라.

In [ ]:
print("naver","kakao","sk","samsung")
print("naver","kakao","sk","samsung", sep=";")

naver kakao sk samsung
naver;kakao;sk;samsung

08. print 기초

  7번 문제의 구분자를 /로 변경하시오.

In [ ]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

09. print 줄바꿈

  다음 코드를 수정하여 줄바꿈 없이 출력해라. print 함수는 두번 사용합니다. 
  
  *세미클론은 한줄에 여러개의 명령을 작성하기 위해 사용

  print("first");print("second")

In [ ]:
print("first");print("second")
print("first",end=" ");print("second")

first
second
first second

10.연산결과 출력

   5/3의 결과를 화면에 출력하세요

In [ ]:
print(5/3)

1.6666666666666667

#02. 파이썬 변수
변수는 자주 사용되는 값 바인딩

11. 변수 사용하기

  삼성전자라는 변수로 50,000원을 바인딩하고, 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력해라.

In [ ]:
삼성전자=50000
총평가금액=10*삼성전자
print("총 평가금액:",총평가금액)

총 평가금액: 500000

12. 변수 사용하기

  다음표는 삼성전자의 일부 투자정보다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해라



> | 항목     | 값       |   |   |   |
|----------|----------|---|---|---|
| 시가총액 | 298조    |   |   |   |
| 현재가   | 50,000원 |   |   |   |
| PER      | 15.79    |   |   |   |

In [ ]:
시가총액=298e12
print(시가총액,type(시가총액))
현재가=50000
print(현재가,type(현재가))
PER=15.79
print(PER,type(PER))

298000000000000.0 <class 'float'>
50000 <class 'int'>
15.79 <class 'float'>

13. 문자열 출력

  두 변수를 이용하여 아래와 같이 출력하시오.

x="hello" y="python" 출력할 문자열: hello! python

In [ ]:
x="hello"
y="python"
print(x+"!", y)

hello! python

14. 파이썬을 이용한 값 계산

  2+2*3의 코드 실행 결과를 예상하시오.

In [ ]:
print(2+2*3)
#문자열 연산이므로 결과는 8

8

15. type 함수

  아래 변수에 바인딩된 값의 타입을 판별하시오.
  
  a= 132

In [ ]:
a=132
print(type(a))

<class 'int'>

16. 문자열을 정수로 변환

  문자열 '720'를 정수형으로 변환하시오.

In [ ]:
s="720"
a=int(s)
print(type(a))

<class 'int'>

17. 정수를 문자열 100으로 변환

  정수 100을 문자열'100'으로 변환하시오

In [ ]:
num=100
result = str(num)
print(type(result))

<class 'str'>

18. 문자열을 실수로 변환

  문자열 "15.79"를 실수타입으로 변환하라.

In [ ]:
a="15.79"
b=float(a)
print(b,type(b))

15.79 <class 'float'>

19. 문자열을 정수로 변환

  year라는 변수가 문자열 타입의 연도를 바인딩하고 있다, 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력하라.

In [ ]:
year="2020"
year=int(year)
print(type(year))
print(year,year-1,year-2,year-3)

<class 'int'>
2020 2019 2018 2017

20. 파이썬 계산

  에어컨이 월 48,584에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다.총 금액은 계산한 후 이를 화면에 출력해라.

In [ ]:
won=48584
print(won*36)

1749024

# 03. 파이썬 문자열

  파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메소드를 제공한다.

21. 문자열 인덱싱

  letters가 바인딩하는 문자열에서 첫번째 와 세번째 문자를 출력하세요.

  letters='python'

In [ ]:
letters='python'
print(letters[0],letters[2])

p t

22. 문자열 슬라이싱

  자동차 번호가 다음과 같을때 뒤에 4자리만 출력하세요.

  license_plate="24가 2210"

In [ ]:
license_plate="24가 2210"
print(license_plate[-4:])

2210

23. 문자열 인덱싱

아래의 문자열에서 '홀'만 출력하세요.
string="홀짝홀짝홀짝"

In [ ]:
string="홀짝홀짝홀짝"
print(string[::2])

홀홀홀

24. 문자열 슬라이싱

문자열을 거꾸로 뒤집어 출력하세요.

In [13]:
string="python"
print(string[::-1])

nohtyp

25. 문자열 치환

아래의 전화번호에서 하이푼을 제거하고 출력하시오.

In [17]:
number="010-4935-4629"
number=number.replace("-"," ")
print(number)

010 4935 4629

26. 문자열 다루기

25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

In [18]:
number="010-4935-4629"
number=number.replace("-","")
print(number)

01049354629

27. 문자열 다루기
url에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

url = "http://sharebook.kr"

In [22]:
url = "http://sharebook.kr"
url_split=url.split('.')
print(url_split)
print(url_split[-1])
print(url_split[-2])

['http://sharebook', 'kr']
kr
http://sharebook

28. 문자열은 immutable!!=불변값이다!

아래 코드의 실행 결과를 예상해봐라.

lang="python"

lang[0]='P'

print(lang)

In [24]:
lang="python"
lang[0]='P'
print(lang)
#오류발생함.

TypeError: ignored

29. replace 메소드

아래 문자열에서 소문자'a'를 대문자 'A'로 변경하라.

In [25]:
string='abcdef2a354aa21d'
string=string.replace("a","A")
print(string)

Abcdef2A354AA21d

30. replace 메소드

아래코드의 실행 결과를 예상해라.
string='abcd'

string.replace('b','B')

print(string)

In [29]:
string='abcd'
string.replace('b','B')
print(string)
#문자열은 불변하는 자료형이기 때문에, replace메소드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.
string_re=string.replace('b','B')
print(string_re)

abcd
aBcd

# 04. 파이썬 리스트

# 05. 파이썬 튜플

#06. 파이썬 딕셔너리

#07. 파이썬 if문

#08. 파이썬 반복문

# 09. 파이썬 함수

#10. 파이썬 모듈

#11. 파이썬 클래스

#12. 파일 입출력과 예외처리